{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": [
              "last 2 chrome versions"
            ]
          }
        }
      ],
      "@babel/preset-typescript"
    ],
    "plugins": [
      "babel-plugin-transform-typescript-metadata",
      ["@babel/proposal-decorators", { "legacy": true }],
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread"
    ]
  }
  